@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .landing_title {
    color: #ffffff;
    background: linear-gradient(to bottom, #ffffff 25%, #c29c64 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
